.auth{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}
.container{
        display: flex;
        flex-direction: column;
        align-items: center;
}
        span{
            cursor: pointer;
            text-decoration: underline;
        }
        p{
            font-size: 1.2em;
            margin-top: 2em;
            color: #676767;
        }