.card{
    max-width: 500px ;
    margin: 20px;
    border-radius: 10px;
    background-color: #242526;
    color: white;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.07);
  }

.card > img{
    object-fit: fill;
    
    max-width: 500px;
    max-height: 250px;
    width: 100%;
}
.card__info {
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
  }

  .card__info > h2 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 460px;
  }