.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #242526;
    color: white;
    text-align: center;
}

.footer > p {
    padding: 5px;
    font-size: 14px;
    color: whitesmoke;
}